<form {{on "submit" this.createMessage}} id="new-message-input">
  <label for="new-message-text">Message</label>
  {{! template-lint-disable no-autofocus-attribute }}
  <Input
    @value={{this.message}}
    id="new-message-text"
    placeholder="Type message here and hit enter"
    {{autofocus}}
  />
  <button type="submit">
    Send
  </button>
</form>