.avatar {
  background-color: #ff907b;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  position: relative;
  text-align: center;
  width: 60px;

  &.is-active::after {
    background-color: #8bc34a;
    border: solid 3px white;
    border-radius: 50%;
    bottom: 0;
    content: " ";
    height: 14px;
    position: absolute;
    right: 0;
    width: 14px;
  }

  &.current-user {
    background-color: #30aba5;
  }
}
