.box-gallery {
  display: flex;
  flex-direction: column;

  .boxes {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    margin: 10px 0;
    overflow-x: auto;

    .box {
      flex-basis: 100%;
    }
  }
}
