details {
  &.debug {
    background-color: #f9d8ff;
    border: 1px solid #e2b3e2;
    border-radius: 0.5em;
    margin-top: 2em;
    max-width: 800px;

    &:hover {
      background-color: #f7c7ff;
      border-color: #210039;
    }

    .gallery {
      display: flex;
      gap: 1em;
      height: 320px;
      justify-content: flex-start;
      margin: 1em;
      overflow-x: auto;

      & > div {
        background-color: #fff;
        border-radius: 1em;
        box-shadow: 2px 2px 4px rgba(0 0 0 / 20%);
        height: 280px;
        max-width: 160px;
        min-width: 160px;
        padding: 1em;

        h3 {
          margin-top: 0;
        }
      }
    }
  }
}
