footer {
  &.menu {
    background-color: #ffedbb;
    border-radius: 0.5em;
    font-size: 1rem;
    margin: 1em 0;
    padding: 1em;

    .links {
      padding: 0;

      a {
        display: inline-block;
        font-size: 1em;
        font-weight: 700;
        padding: 0 0.75em 0 0;

        svg {
          margin-right: 3px;
        }
      }
    }
  }
}
