footer.menu {
  background-color: #ffedbb;
  border-radius: 0.5em;
  font-size: 1rem;
  margin: 2em 0;
  padding: 1em;
}

footer.menu .links {
  padding: 0;
}

footer.menu .links a {
  position: static;

  svg {
    margin-right: 3px;
  }
}
