footer {
  &.menu {
    background-color: #ffedbb;
    display: flex;
    font-size: 1rem;
    margin: 1em 0 0;
    padding: 0.5em 0;
    width: 100%;

    .audio-player {
      margin-right: 1em;
    }

    .links {
      align-items: center;
      display: flex;
      margin: 0 auto;
      max-width: 800px;
      padding: 0;
      width: 100%;

      a {
        display: inline-block;
        font-size: 1em;
        font-weight: 700;
        padding: 0 0.75em 0 0;

        svg {
          margin-right: 3px;
        }
      }
    }
  }

  &.version {
    background-color: #fff5d8;
    font-size: 0.8em;
    margin: 0 0 0.2em;
    min-height: 20px;
    padding: 0.5em 0 0;
    width: 100%;

    .versions {
      margin: 0 auto;
      max-width: 800px;
      padding: 0;
      width: 100%;
    }
  }
}
