.gh-commits {
  table {
    background-color: #fdfdfd55;
    border-collapse: collapse;
    padding: 0 0.5em;

    tbody {
      tr {
        border-bottom: 1px solid #999999;

        td {
          padding: 0.5em;
          vertical-align: top;

          &.commit-date {
            width: 22%;
          }
        }

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }
}
