.box {
  background-color: #eee;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  border-bottom-color: #555;
  border-left-color: #888;
  border-radius: 4px;
  border-right-color: #555;
  border-top-color: #888;
  box-shadow: 1px 2px 3px #999;
  min-width: 200px;
  padding: 1em;

  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    background-color: #fff;
    border-style: dashed;
    border-bottom-color: #000;
    border-left-color: #000;
    border-right-color: #000;
    box-shadow: inset 1px 1px 10px #9d9d9d;
    color: #111;
    outline-style: dashed;
  }

  &.tall {
    background-color: #ffc3c3;

    &:active,
    &:focus,
    &:focus-visible,
    &:focus-within {
      background-color: #ffcaca;
      border-style: dashed;
      box-shadow: inset 1px 1px 10px #695050;
    }
  }

  &.has-block {
    .box-text {
      margin-top: 1em;
    }
  }

  h3 {
    margin-bottom: 5px;
  }

  .box-id {
    bottom: 0;
    font-size: 0.75rem;
    position: relative;
    right: 0;
  }
}
