.box {
  background-color: #eee;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  border-bottom-color: #555;
  border-left-color: #888;
  border-radius: 4px;
  border-right-color: #555;
  border-top-color: #888;
  box-shadow: 1px 2px 3px #999;
  min-width: 200px;
  padding: 0.5em;

  &[contenteditable="true"] {
    &:active,
    &:focus,
    &:focus-visible,
    &:focus-within {
      border-style: dashed;
      border-bottom-color: #000;
      border-left-color: #000;
      border-right-color: #000;
      box-shadow: inset 1px 1px 10px #9d9d9d;
      color: #111;
      outline-style: dashed;
    }
  }

  &.has-block {
    .body-text {
      margin-top: 1em;
    }
  }

  h3 {
    margin-bottom: 5px;
  }

  button {
    padding: 0.3em 0.25em;
    text-align: left;
  }

  .box-id,
  .expanded-state {
    font-size: 0.75rem;
  }

  .box-text {
    padding: 0;

    p {
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .display-text-wrapper {
      &.is-faded {
        max-height: 200px;
        overflow: hidden;
        position: relative;
      }
    }
  }

  .box-text-control {
    background-image: linear-gradient(to bottom, transparent, #eee);
    bottom: 100px;
    height: 100px;
    padding: 0;
    position: relative;

    button {
      padding: 0.3em 0.25em;
      position: relative;
      text-align: left;
      top: 100px;
    }
  }
}
