.counter > * {
  padding: 0 5px;
}

.counter .frame {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

.counter .frame > div {
  padding: 0.1em;
}

.counter label:not(.blank) {
  background-color: #ddd;
  display: inline-block;
  font-size: 0.75em;
  margin: 0;
  padding: 0.5em;
  width: 100%;
}

.counter .count,
.counter .total {
  text-align: right;
}

.counter .multiple {
  display: flex;
  justify-content: space-between;
}

.counter button {
  margin-top: 1em;
}
