details.debug {
  background-color: #f9d8ff;
  border: 1px solid #e2b3e2;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 1.5em 0.25em rgba(0 0 0 / 10%);
  margin-top: 2em;
  max-width: 800px;
}

details.debug:hover {
  background-color: #f7c7ff;
  border-color: #210039;
}

details.debug .gallery {
  display: flex;
  gap: 1em;
  margin: 1em;
}

details.debug .gallery > div {
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 0.25em 1em 0.25em rgba(0 0 0 / 20%);
  max-width: 175px;
  min-width: 150px;
  padding: 1em;
}

details.debug .gallery > div h3 {
  margin-top: 0;
}
