.ribbon {
  position: fixed;
  background: #ffb9a2;
  box-shadow: 0 0 0 999px #ffb9a2;
  clip-path: inset(0 -100%);
  padding: 0.5em;
}
.ribbon.left {
  inset: 0 auto auto 0; /* top and left equal to 0 */
  transform-origin: 100% 0; /* OR top right */
  transform: translate(-29.3%) rotate(-45deg);
}
.ribbon.right {
  inset: 0 0 auto auto; /* top and right equal to 0 */
  transform-origin: 0 0; /* OR top left */
  transform: translate(29.3%) rotate(45deg);
}
