<div class="debugging-stuff">
  <div class="debugging-stuff">
    <div class="terms">
      <div class="foobars">
        <div class="debugging-stuff">
          <div class="terms">
            <div class="foobars">
              <div class="debugging-stuff">
                <div class="terms">
                  <div class="foobars">
                    <div class="debugging-stuff">
                      <div class="terms">
                        <div class="foobars">
                          <div class="debugging-stuff">
                            <div class="terms">
                              <div class="foobars">
                                <div class="debugging-stuff">
                                  <div class="terms">
                                    <div class="foobars">
                                      {{#each this.foobarListOfTerms as |foobar|}}
                                        <div class="foobar">
                                          {{foobar}}
                                        </div>
                                      {{/each}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>