<h2>About</h2>
<p>
  <strong>Ember Fake Chat</strong>
  is a web application built to learn about EmberJS Components.
</p>

<p>
  It is a poor chat application, however, as it only allows you to read existing
  hard-coded messages, and only add new ones as anonymous. There are no users,
  there is no user authentication, and there is no database to keep track of
  anything.
</p>

<p>But it's a start!
</p>