{{! app/templates/application.hbs }}

{{! ember-cli-head }}
<HeadLayout />

<main>
  <Messages>
    <NewMessageInput />
  </Messages>

  {{outlet}}
</main>

<footer>
  <div class="debug">
    <DoubleIt />
  </div>
</footer>