{{! app/templates/application.hbs }}

{{! ember-cli-head }}
<HeadLayout />

<header>
  <h1>Ember Fake Chat</h1>
</header>

<main>
  <Messages />

  {{outlet}}
</main>

<footer>
  <div class="debug">
    <DoubleIt />
    <AudioPlayer @srcURL="/assets/audio/fezzish.mp3" @shouldLoop={{true}} />
  </div>
</footer>