{{! app/templates/application.hbs }}

{{! ember-cli-head }}
<HeadLayout />

<header>
  <NavBar />
</header>

<main>
  {{outlet}}
</main>

<details class="debug">
  <summary>Debug Stuff</summary>
  <div class="gallery">
    <DoubleIt />
    <AudioPlayer @srcURL="/assets/audio/fezzish.mp3" @shouldLoop={{true}} />
  </div>
</details>

<Footer />