{{! app/templates/application.hbs }}

{{! ember-cli-head }}
<HeadLayout />

<header>
  <NavBar />
</header>

<main>
  {{outlet}}
</main>

<section class="debug">
  <h3>Debug Stuff</h3>
  <div class="gallery">
    <DoubleIt />
    <AudioPlayer @srcURL="/assets/audio/fezzish.mp3" @shouldLoop={{true}} />
  </div>
</section>

<Footer />